body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
}

section {
    padding: 50px;
    margin-top: 20px;
}
#section1 {
    background: #f4f4f4;
}
#section2 {
    background: #e2e2e2;
    margin-top: 500px;
}
#section3 {
    background: #ccc;
    margin-top: 400px;
}

.nav-bar {
    background: #4b9c8f;
    color: #fff;
    padding: 1em;
    text-align: center;

    /* Aquí está el CSS para que el nav superior esté siempre fijo */
    position: fixed; /* Seteamos el nav-bar en posición fija */
    top: 0; /* Posición en la parte superior de la página */
    width: 100%; /* Ancho completo */
}


section:hover {
    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    cursor: pointer;
}

.aparecer {
    animation: heartBeat;
    animation-duration: 2s;
}

p {
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
}

.color {
    color: pink
}